<?xml version="1.0"?>
<config>
    <modules>
        <Addcomputers_Makeoffer>
            <version>0.1.0</version>
        </Addcomputers_Makeoffer>
    </modules>
    <frontend>
        <routers>
            <makeoffer>
                <use>standard</use>
                <args>
                    <module>Addcomputers_Makeoffer</module>
                    <frontName>makeoffer</frontName>
                </args>
            </makeoffer>
        </routers>
    </frontend>
    <global>
        <models>
            <addcomputers_makeoffer>
                 <class>Addcomputers_Makeoffer_Model</class>
            </addcomputers_makeoffer>
        </models>
        <events>
            <sales_quote_add_item>
                <observers>
                    <priceupdate_observer>
                        <type>singleton</type>
                        <class>Addcomputers_Makeoffer_Model_Observer</class>
                        <method>updatePrice</method>
                    </priceupdate_observer>
                </observers>
            </sales_quote_add_item>
        </events>
        <resources>
            <addcomputers_makeoffer_setup>
                <setup>
                    <module>Addcomputers_Makeoffer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </addcomputers_makeoffer_setup>
            <addcomputers_makeoffer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </addcomputers_makeoffer_write>
            <addcomputers_makeoffer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </addcomputers_makeoffer_read>
        </resources>
        <template>
            <email>
                <makeoffer>
                    <label>Make Offer</label>
                    <file>_addcomputers_makeoffer.html</file>
                    <type>html</type>
                </makeoffer>
                <rma>
                    <label>Make Offer</label>
                    <file>_addcomputers_rma.html</file>
                    <type>html</type>
                </rma>
            </email>
        </template>        
    </global>
</config>