.header-modal {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
    position: fixed;
    right: 41%;
    top: 23%;
    width: 350px;
    z-index: 12;
}    

.offer-yoauam-switch-window {
    color: #fe6868;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
}

.youama-offer-ajaxlogin-loader {
    background: rgba(0, 0, 0, 0) url("../../images/youama/ajaxlogin/loader.gif") no-repeat scroll center center;
    display: none;
    height: 31px;
    left: 50%;
    margin-left: -20px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 40px;
    z-index: 9999;
}

.youama-window-box .input-fly input[type="number"] {
    border: 1px solid #d6d6d6;
    border-radius: 0;
    font-size: 13px;
    height: 34px;
    padding: 6px;
}
.youama-window-box .input-fly input[type="number"] {
    width: 100%;
}

.margin-top-8 { margin-top: 8px; }
.margin-top-20 { margin-top: 20px; }
a.make-offer { color:red; font-size: 18px; }
.youama-ajaxlogin-success { color: #00CC00; }

button.button.youama-add-tocart-button > span { background: #00CC00 none repeat scroll 0 0;}

.cms-rma .ui-state-default::before {
    content: "";
}

.cms-rma .ui-widget-header .ui-icon {
    background-image: url("../../images/icons.png");
}

.cms-rma .ui-icon-circle-triangle-w {
    background-position: -58px -14px;
}

.cms-rma .ui-icon-circle-triangle-e {
    background-position: -146px -14px;
}

.cms-rma ui-state-hover {
    color: #FFF;
}

.rmaProduct {
    color: #ff0000; 
    font-weight: bold;
    border-bottom: 2px #ff0000 solid;
    font-size: 18px;
}

.cms-rma .form-list textarea
{
    margin-bottom: 10px;
    width: 333px;
}

.switch-window {
    color: #fe6868;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin-top: 8px;
    padding: 5px;
    text-decoration: underline;
}

.cms-rma .form-list label.error {
    color: #f00;
}

.cms-rma .ui-widget-header .ui-state-hover { background: black; border: 0; }