<?xml version="1.0"?>
<config>
    <modules>
        <Cmsmart_Ajaxsearch>
            <version>0.1.0</version>
        </Cmsmart_Ajaxsearch>
    </modules>
    <frontend>
        <routers>
            <ajaxsearch>
                <use>standard</use>
                <args>
                    <module>Cmsmart_Ajaxsearch</module>
                    <frontName>ajaxsearch</frontName>
                </args>
            </ajaxsearch>
        </routers>
        <layout>
            <updates>
                <ajaxsearch>
                    <file>cmsmart/ajaxsearch.xml</file>
                </ajaxsearch>
            </updates>
        </layout>
		<events>
            <controller_front_send_response_before>
                <observers>
                    <ajaxsearch>
                        <class>searchautocomplete/processor</class>
                        <method>cacheResponse</method>
                    </ajaxsearch>
                </observers>
            </controller_front_send_response_before>
        </events>
    </frontend>
    <adminhtml>
		<layout>
			<updates>
				<ajaxsearch>
					<file>cmsmart/ajaxsearch.xml</file>
				</ajaxsearch>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ajaxsearch>
                <class>Cmsmart_Ajaxsearch_Model</class>
                <resourceModel>ajaxsearch_mysql4</resourceModel>
            </ajaxsearch>
    
        </models>

        <blocks>
            <ajaxsearch>
                <class>Cmsmart_Ajaxsearch_Block</class>
            </ajaxsearch>
			
			<catalogsearch>
                <rewrite>
                    <result>Cmsmart_Ajaxsearch_Block_Result</result>
                </rewrite>
            </catalogsearch>
        </blocks>
        <helpers>
            <ajaxsearch>
                <class>Cmsmart_Ajaxsearch_Helper</class>
            </ajaxsearch>
        </helpers>
    </global>

    <default>
        <ajaxsearch>
            
            <settings>
                <enabled>1</enabled>
                <search_by_att>0</search_by_att>
                <width>400</width>                
                <border_color>#FFFFFFF</border_color>
                <border_width>1</border_width>
                <hover_bg>#fafbff</hover_bg>
                <title_bg>#0e0200</title_bg>
                <title_color>#e9f5ff</title_color>
                <highlight_color>#ff0000</highlight_color>
                <highlight_size>12</highlight_size>
                <min_char>3</min_char>
                <time_request>500</time_request>
                <noti_no_result>No results found.</noti_no_result>
                <noti_color>#545454</noti_color>
            </settings>
			<searchbycategory>
				<enable>1</enable>
				<choosenumbersofcategory>2</choosenumbersofcategory>
				<backgroundcategory>#ffffff</backgroundcategory>
				<backgroundcategoryhover>#fafafa</backgroundcategoryhover>
				<colorstateactive>#000000</colorstateactive>
				<backgroundheader>#000000</backgroundheader>
			</searchbycategory>
            <suggest>
                <enable>0</enable>
                <suggest_color>#8e0900</suggest_color>                
                <count_color>#9b0c0e</count_color>
                <hover_color>#ff816e</hover_color>
            </suggest>
            <preview>
                <enable>1</enable>
                <number_product>10</number_product>
                <show_image>1</show_image>
                <show_name>1</show_name>
                <show_cat>1</show_cat>
                <show_attribute>1</show_attribute>
                <show_description>1</show_description>
                <show_price>1</show_price>
                <show_rating>1</show_rating>
                <show_countreviews>1</show_countreviews>
                <show_viewall>0</show_viewall>
                <num_char_att>30</num_char_att>
                <num_char_description>200</num_char_description>
                <pro_title_color>#333333</pro_title_color>
                <pro_cat_color>#679100</pro_cat_color>
                <pro_cat_hover_color>#fc00cd</pro_cat_hover_color>
                <pro_countreviews_color>#e24000</pro_countreviews_color>
                <pro_description_color>#000000</pro_description_color>
                <pro_price_color>#959595</pro_price_color>
                <pro_old_price_color>#959595</pro_old_price_color>                
               
                <image_width>60</image_width>
                <image_height>60</image_height>
                <image_border_width>1</image_border_width>
                <image_border_color>#bbbbbb</image_border_color>
                <sort_by>0</sort_by>
                <order>1</order>
            </preview>
            
            <category>
                <enable>0</enable>
                <cat_title_color>#414141</cat_title_color>                
                <cat_description_color>#545454</cat_description_color>
            </category>
            <page>
                <enable>0</enable>
                <page_title_color>#414141</page_title_color>                
                <page_description_color>#545454</page_description_color>                
            </page>
        </ajaxsearch>

    </default>
</config>
